img {
  height: 154px;
  width: 200px;
}

.text-pading {
  padding-left: 8px;
}

.card {
  border-style: none;
}

.card-header {
  border-style: none;
  background-color: transparent;
  padding-left: 0px;
}
